     <!-- Job Application Modal Start -->
        <div class="apply-modal-container" id="apply-modal-container">
            <div id="apply-modal" class="apply-modal">
                <!-- Modal content Start-->
                <div class="apply-modal-content">
                        <div class="container">
                            <h1>Welcome</h1>
                            <button id="signup-login-btn" type="button" class="btn-primary" (click)="navigateToPage('login')">Login/Sign Up</button>
                            <hr>
                            <div class="cursor-pointer" (click)="navigateToPage('userDetails')">My Account</div>
                            <br>
                          
                            <div  class="cursor-pointer" (click)="navigateToPage('bookings')">My Bookings</div>
                            <br>
                            <button id="signoutn-btn" type="button" class="btn-primary" (click)="navigateToPage('none')">Sign Out</button>
                         
                            
                    
                        </div>
                </div>
            </div>
        </div>