.container{
    margin-left: 8px;
    margin-bottom: 8px;
}


.account-modal{
    top: 60px;
    background-color: white;
    position: fixed;
    right: 0;
    color: black;
    min-width: 184px;
    // text-align: center;
    z-index: 999 !important;
}