     <!-- Job Application Modal Start -->
        <div class="apply-modal-container" id="apply-modal-container" >
            <div id="apply-modal" class="apply-modal">
                <!-- Modal content Start-->
                <div class="apply-modal-content">
                        <div class="container">
                            <h3>Welcome &nbsp;{{getUserName()}}</h3>
                            <button id="signup-login-btn" type="button" class="btn-primary" (click)="navigateToPage('login')" *ngIf="isUserLoggedIn==false">Login/Sign Up</button>
                            <hr *ngIf="isUserLoggedIn==true">
                            <div class="cursor-pointer" (click)="navigateToPage('userDetails')" *ngIf="isUserLoggedIn==true">My Account</div>
                            <br>
                            <div  class="cursor-pointer" (click)="navigateToPage('bookings')" *ngIf="isUserLoggedIn==true">My Bookings</div>
                            <hr *ngIf="isUserLoggedIn==true">
                            <div  class="cursor-pointer" (click)="signout()"  *ngIf="isUserLoggedIn==true">Sign Out</div> 
                    

                        </div>
                </div>
            </div>
