<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="../assets/logoorangebook.png"
  />
  <!-- [ngClass]=" {'active-tab': tab==1 }" -->
  <div (click)="navigateToTab('home')" title="home" class = 'tabs' [ngClass]="{'active-tab': tabName=='home' }">
    <span class="header-tab">Home</span>
  </div>

  <div (click)="navigateToTab('services')"  title="services"  class = 'tabs' [ngClass]="{'active-tab': tabName=='services' }">
    <span class="header-tab">Services</span>
  </div>

    <div class="spacer"></div>

    <div title="account" (click)="toggleAccountModal(null)" class = 'tabs' >

      <span class="header-tab">Account</span>

    </div>
            <!-- Account Modal start -->

<div >

<div *ngIf="isAccountModalOpen" class="account-modal" #accountModal (mouseleave)="close($event)">
  <app-account-modal (closeModalEmittor)="toggleAccountModal($event)"></app-account-modal>
</div>

</div>
  <!-- Account Modal End -->

    
</div>

<div class="content" role="main">
  <div class="breadcrumb">
    <app-breadcrumb [breadcrumb]="breadCrumbList"></app-breadcrumb>
  </div>

  
  <!-- Highlight Card -->
  <div class="card highlight-card card-small card-position">
    <div   class="align-logo">
    <img
    width="100"
    alt="Angular Logo"
    src="../assets/logoorangebook.png"
    
  /></div>
  <!-- {{ url_for('static',filename='photos/movies-world.png') }} -->
    <span>Services at your doorstep!</span>
  </div>
</div>

<router-outlet></router-outlet>
