.body {
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .detailContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-style: solid;
    padding: 48px;
    min-width: 300px;
  }