<!-- <div class='card'>
    <div class='card-content display-content'> -->
        <app-service-card [business]="business" [component]="'service-details'"></app-service-card>
        <!-- <div>{{business.businessName}}</div>
        <div>{{business.address}}</div>
        <div>{{business.sreviceType}}</div>
        <div>{{business.serviceCost}}</div>
        <div>{{business.email}}</div>
        <!-- <div  [class.disabled]="!isUserLoggedIn" > -->
            <!-- <div>
            <button id="book-modal-btn" type="button" class="btn-primary cursor-pointer" (click)="bookAppointment(business.businessId )">Book Appointment</button>
        <!-- </div> --> 

<!-- 
            </div>
            </div> -->