<div class='card'>
    <div class='card-content display-content'>
        <div>{{business.businessName}}</div>
        <div>{{business.address}}</div>
        <div>{{business.sreviceType}}</div>
        <div>{{business.serviceCost}}</div>
        <div>{{business.email}}</div>
        <div  [class.disabled]="!isUserLoggedIn" >
            <button id="book-modal-btn" type="button" class="btn-primary" (click)="bookAppointment(business.businessId )">Book Appointment</button>
        </div>


            </div>
            </div>