<ngx-spinner type="ball-scale-multiple"  bdColor="rgba(25, 118, 210, 0.6)"></ngx-spinner>

<div class="conatiner-area" id ="signin-form" *ngIf="!isSignUpFormVisible && !isForgetPasswordClicked">
    <div class="container-fluid ">
          <div class="body">
              <div class="formContainer">
                <form name="signInForm" (ngSubmit)="login(signInForm)" #signInForm="ngForm">
                <br>
                <input id="useremail" type="text" name="useremail" placeholder="Email" required   
                pattern="[a-zA-Z0-9._]+@[a-zA-Z0-9]+\.[a-zA-Z]{2,4}"
             
                onfocus="this.placeholder=''" onblur="this.placeholder='Email'" [(ngModel)]="useremail">
                <div *ngIf="signInForm.controls.useremail?.invalid && (signInForm.controls.useremail.dirty || signInForm.controls.useremail.touched)">
                  <div *ngIf="signInForm.controls.useremail.errors.required">Email is required.</div>
                  <div *ngIf="signInForm.controls.useremail.errors.pattern">Invalid email format.</div>
                </div>
                <br>
                <input id="userpassword" type="password" name="userpassword" placeholder="Password"   required minlength="6"
                onfocus="this.placeholder=''" onblur="this.placeholder='Password'" [(ngModel)]="userpassword">
                <div *ngIf="signInForm.controls.userpassword?.invalid && (signInForm.controls.userpassword.dirty || signInForm.controls.userpassword.touched)">
                  <div *ngIf="signInForm.controls.userpassword.errors.required">Password is required.</div>
                  <div *ngIf="signInForm.controls.userpassword.errors.minlength">Password must be at least 6 characters long.</div>
                  </div>
                <br>
                <div class=" button-align"> 
                <button id="signin-btn" type="submit" class="btn-primary" [disabled]="signInForm.invalid" >Sign In</button>
                <br>
                <br>
                <button class="btn-primary"  (click)="signInWithFB()">Sign in with facebook</button>
          
              </div>
                </form>
                <div ><span>Don't have an Account? &nbsp;</span> 
                  <span  class="primary-color cursor-pointer font-link" (click)="switchForm()">Create An Account</span></div>
                
                <div ><span  class="primary-color cursor-pointer font-link" (click)="forgetPassword()">Forget Password?</span></div>
              </div>
      </div> 
  </div>
  </div>

  <div class="conatiner-area" id ="forgetPassword-form" *ngIf="isForgetPasswordClicked">
    <div class="container-fluid ">
          <div class="body">
              <div class="formContainer">
                <form name="forgetPasswordForm" (ngSubmit)="resetPassword(forgetPasswordForm)" #forgetPasswordForm="ngForm">

                <br>
                <input id="resetuseremail" type="text" name="resetuseremail" placeholder="Email" required   
                pattern="[a-zA-Z0-9._]+@[a-zA-Z0-9]+\.[a-zA-Z]{2,4}"
             
                onfocus="this.placeholder=''" onblur="this.placeholder='Email'" [(ngModel)]="resetuseremail">
                <div *ngIf="forgetPasswordForm.controls.resetuseremail?.invalid && (forgetPasswordForm.controls.resetuseremail.dirty || forgetPasswordForm.controls.resetuseremail.touched)">
                  <div *ngIf="forgetPasswordForm.controls.resetuseremail.errors.required">Email is required.</div>
                  <div *ngIf="forgetPasswordForm.controls.resetuseremail.errors.pattern">Invalid email format.</div>
                </div>
                <br>
                <input id="newuserpassword" type="password" name="newuserpassword" placeholder="Password"   required minlength="6"
                onfocus="this.placeholder=''" onblur="this.placeholder='Password'" [(ngModel)]="newuserpassword">
                <div *ngIf="forgetPasswordForm.controls.newuserpassword?.invalid && (forgetPasswordForm.controls.newuserpassword.dirty || forgetPasswordForm.controls.newuserpassword.touched)">
                  <div *ngIf="forgetPasswordForm.controls.newuserpassword.errors.required">Password is required.</div>
                  <div *ngIf="forgetPasswordForm.controls.newuserpassword.errors.minlength">Password must be at least 6 characters long.</div>
                  </div>
                <br>
                <input id="reenteruserpassword" type="password" name="reenteruserpassword" placeholder="Re-enter Password"   required minlength="6"
                onfocus="this.placeholder=''" onblur="this.placeholder='Re-enter Password'" [(ngModel)]="reenteruserpassword">
                <div *ngIf="forgetPasswordForm.controls.reenteruserpassword?.invalid && (forgetPasswordForm.controls.reenteruserpassword.dirty || forgetPasswordForm.controls.reenteruserpassword.touched)">
                  <div *ngIf="forgetPasswordForm.controls.reenteruserpassword.errors.required">Password is required.</div>
                  <div *ngIf="forgetPasswordForm.controls.reenteruserpassword.errors.minlength">Password must be at least 6 characters long.</div>
                  </div>
                <div class=" button-align">


                  <!-- cancelResettingPassword -->
                <button id="cancel-btn" type="button" class="btn-primary" (click)="cancelResettingPassword()">Cancel</button> &nbsp;
                <button id="signin-btn" type="submit" class="btn-primary "   [disabled]="forgetPasswordForm.invalid">Reset Password</button>
                <br>
        
              </div>
                </form>
              </div>
      </div> 
  </div>
  </div>

<div class="conatiner-area" id ="signup-form" *ngIf="isSignUpFormVisible">
    <div class="container-fluid ">
          <div class="body">
              <div class="formContainer">
                <form name="signupForm" (ngSubmit)="createAccount(signupForm)" #signupForm="ngForm">
                  <input id="title" type="text" name="title" placeholder="First Name" required [(ngModel)]="firstName">
                  <br>
                  <input id="lastName" type="text" name="lastName" placeholder="Last Name" required [(ngModel)]="lastName">
                  <br>
                  <input id="email" type="text" name="email" placeholder="Email" required   
                  pattern="[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}"  [(ngModel)]="email">
                  <div *ngIf="signupForm.controls.email?.invalid && (signupForm.controls.email.dirty || signupForm.controls.email.touched)">
                    <div *ngIf="signupForm.controls.email.errors.required">Email is required.</div>
                    <div *ngIf="signupForm.controls.email.errors.pattern">Invalid email format.</div>
                  </div>
                  <br>
                  <input id="contactNumber" type="text" name="contactNumber" placeholder="Contact Number" [(ngModel)]="contactNumber" pattern="[0-9]{10}">
                  <div *ngIf="signupForm.controls.contactNumber?.invalid && (signupForm.controls.contactNumber.dirty || signupForm.controls.contactNumber.touched)">
                    <div *ngIf="signupForm.controls.contactNumber.errors.pattern">Invalid contact number. Must be 10 digits.</div>
                  </div>
                  <br>
                  <input id="address" type="text" name="address" placeholder="Address" [(ngModel)]="address" maxlength="50">
                  <div *ngIf="signupForm.controls.address?.invalid && (signupForm.controls.address.dirty || signupForm.controls.address.touched)">
                    <div *ngIf="signupForm.controls.address.errors.maxlength">addess must be less than 50 characters.</div>
                  </div>
                  <br>
                  <input id="password" type="password" name="password" placeholder="Password" required [(ngModel)]="password" minlength="6">
                  <div *ngIf="signupForm.controls.password?.invalid && (signupForm.controls.password.dirty || signupForm.controls.password.touched)">
                    <div *ngIf="signupForm.controls.password.errors.required">Password is required.</div>
                    <div *ngIf="signupForm.controls.password.errors.minlength">Password must be at least 6 characters long.</div>
                  </div>
                  <br>
                  <input id="repeatpassword" type="password" name="repeatpassword" placeholder="Re-enter Password" required [(ngModel)]="repeatpassword" minlength="6">
                  <div *ngIf="signupForm.controls.repeatpassword?.invalid && (signupForm.controls.repeatpassword.dirty || signupForm.controls.repeatpassword.touched)">
                    <div *ngIf="signupForm.controls.repeatpassword.errors.required">Please enter the password.</div>
                    <div *ngIf="password !== repeatpassword" id="repaeatPassword">Passwords do not match.</div>
                  </div>
                  <br>
                  <div class="button-align">
                    <button id="signup-btn" type="submit" class="btn-primary " [disabled]="signupForm.invalid">Sign Up</button>
                  </div>
                </form>
                <div ><span>Already have an Account! &nbsp;</span> <span  class="primary-color cursor-pointer font-link"  (click)="switchForm()">SignIn</span></div>
              </div>
      </div> 
  </div>
  </div>