
<h4>{{searchedResultsString}}</h4>
<div *ngFor = "let business of businessList">

    <div class='card'>
        <div class='card-content display-content'>
            <div ><h2 class='cursor-pointer primary-color' (click)="navigateToDetailPage( business.businessId )">{{business.businessName}}</h2></div>
 
            <div class="display-flex">
            <div  class = "align-left ">
              <span *ngFor = "let rating of getRatings(business.ratings)"><i class="fa-solid fa-star"></i></span>
            </div>
            <div class="align-right">{{business.contactNumber}}</div>
        </div>
        <br>
        <div class="display-flex">
            <div  class = "align-left ">
                <div>{{business.sreviceType}}</div>
            </div>
            <div class="align-right">{{business.address}}</div>
        </div>
        <br>
        
            
            <div>{{business.serviceCost}}</div>
            <div>{{business.email}}</div>

           
                </div>
                </div>

</div>

