
<ngx-spinner type="ball-scale-multiple"  bdColor="rgba(25, 118, 210, 0.4)"></ngx-spinner>
<div *ngIf = "bookingList.length == 0">
    <span>No bookings has been made</span>
</div>




<div *ngFor = "let business of bookingList">
    <app-service-card [business]="business" [component]="'account-booking'" (cancelBookingEmittor)="cancelBookingEmittor($event)"></app-service-card>

    <!-- <div class='card'>
        <div class='card-content display-content'>
            <div>{{business.businessName}}</div>
            <div>{{business.address}}</div>
            <div>{{business.serviceType}}</div>
            <div>{{business.serviceCost}}</div>
            <div>{{business.email}}</div>
            <div *ngIf="!business.isCancelled">
                <button id="book-modal-btn" type="button" class="btn-primary cursor-pointer" (click)="cancelBooking(business.bookingId )">Cancel Appointment</button>
            </div>
            <div *ngIf="business.isCancelled">
                <div>This booking is cancelled</div>
            </div>
                </div>
                </div> -->

</div>
