<div *ngIf = "bookingList.length == 0">
    <span>No bookings has been made</span>
</div>

<div *ngFor = "let business of bookingList">

    <div class='card'>
        <div class='card-content display-content'>
            <div>{{business.businessName}}</div>
            <div>{{business.address}}</div>
            <div>{{business.sreviceType}}</div>
            <div>{{business.serviceCost}}</div>
            <div>{{business.email}}</div>
            <div *ngIf="!business.isCancelled">
                <button id="book-modal-btn" type="button" class="btn-primary cursor-pointer" (click)="cancelBooking(business.businessId )">Cancel Appointment</button>
            </div>
            <div *ngIf="business.isCancelled">
                <div>This booking is cancelled</div>
            </div>
                </div>
                </div>

</div>
