  <div class="homeSearchBlock" id="searchBlock">
    <div class="searchFullBlock">

        <div class="searchBusiness">
          <input type="text" value="" id="ipSearch" class="homeSearchTextbox businessInputField" placeholder="Search local business"  (keyup)="onKeyUp($event)">



         </div>
         <div class="searchLocation">
          
            <select class="form-control location-dropdown" name="Any"  (change)="selectLocation($event)" >
                    <option  *ngFor = "let location of locationList">
                        {{location}}
                    </option>
              
  
            </select>
    
         
          </div>
         <div class="searchButtonBlock btn-primary" (click) = "searchBusiness()">
          <span class="searchButton"> 
            <!-- <i class="fa-solid fa-magnifying-glass"> -->
            Search
        
          </span>
        </div>
      </div>
    </div>